<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>CREASI</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="CARTIER">
    <link href="{$basedomain}assets/css/bootstrap-select.css" rel="stylesheet" type="text/css" />
    <link href="{$basedomain}assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="{$basedomain}assets/css/superfish.css" rel="stylesheet" type="text/css" />
    <link href="{$basedomain}assets/css/flexslider.css" rel="stylesheet" type="text/css" />
	<!--    <link href="{$basedomain}assets/css/admin-shinkenjuku.css" rel="stylesheet" type="text/css" /> -->
    <link href="{$basedomain}assets/css/creasi.css" rel="stylesheet" type="text/css" />
    <link rel="shortcut icon" href="{$basedomain}assets/images/favicon.ico">
	
	<link href="{$basedomain}assets/css/jquery-ui-1.10.4.custom.css" rel="stylesheet" type="text/css" />
    <!-- // IE  // -->
	<!--[if IE]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    <!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
    
    <script type="text/javascript" src="{$basedomain}assets/js/jquery.10.1.min.js"></script>
	<script type="text/javascript" src="{$basedomain}assets/js/jquery-ui.min.js"></script>
	<script>
		var basedomain = "{$basedomain}" ;
		var basedomainpath = "{$basedomainpath}" ;
		var pages = "{$pages}" ;
		var locale = {$locale|@json_encode};
	</script> 
    <!-- // PLUGIN  // -->  
	<script type="text/javascript" src="{$basedomain}assets/js/modernizr.custom.js"></script>
    <script type="text/javascript" src="{$basedomain}assets/js/bootstrap.min.js"></script>  
    <script type="text/javascript" src="{$basedomain}assets/js/bootstrap-select.js"></script>  
    <!-- // PLUGIN  // -->  
	<script type="text/javascript" src="{$basedomain}assets/js/jquery.easing.js"></script>
    <script type="text/javascript" src="{$basedomain}assets/js/jquery.mousewheel.js"></script>
    <script type="text/javascript" src="{$basedomain}assets/js/jquery.flexslider.js"></script>
	<script type="text/javascript" src="{$basedomain}assets/js/jquery.fadethis.js"></script>
    <script type="text/javascript" src="{$basedomain}assets/js/superfish.js"></script>  
    <script type="text/javascript" src="{$basedomain}assets/js/hoverIntent.js"></script>  
    <script type="text/javascript" src="{$basedomain}assets/js/animate.js"></script>  
    <script type="text/javascript" src="{$basedomain}assets/js/creasi.js"></script>
	<script type="text/javascript" src="{$basedomain}assets/js/kipagination.js"></script>
	<script type="text/javascript" src="{$basedomain}assets/js/contentHelper.js"></script>
	<script type="text/javascript" src="{$basedomain}assets/js/contentviews.js"></script>
</head>
<body>
  <div id="page">
{literal}
<!--Start of Zopim Live Chat Script-->
 	<script type="text/javascript">
	window.$zopim||(function(d,s){var z=$zopim=function(c){z._.push(c)},$=z.s=
	d.createElement(s),e=d.getElementsByTagName(s)[0];z.set=function(o){z.set.
	_.push(o)};z._=[];z.set._=[];$.async=!0;$.setAttribute('charset','utf-8');
	$.src='//v2.zopim.com/?2Ptk9Q8C8hZehZYy4h8K7lxc8Od0ScS6';z.t=+new Date;$.
	type='text/javascript';e.parentNode.insertBefore($,e)})(document,'script');
	</script>
	<!--End of Zopim Live Chat Script-->
	{/literal}
<div id="top"> 
	<div class="wrapper">   
    	<div class="topInfo fl topInfoleft">
        	<a><i class="ico icon-phone">&nbsp;</i><span>(+62) 7050-8952/53</span></a>
        	<a><i class="ico icon-envelope">&nbsp;</i><span>info@creasi.co.id</span></a>
        </div><!-- end .topInfo -->
    	<div class="topInfo fr">
        	<a href="http://facebook.com/creasi.ID" target="_blank"><i class="ico icon-facebook">&nbsp;</i></a>
        	<a href="http://twitter.com/creasi_ID" target="_blank"><i class="ico icon-twitter">&nbsp;</i></a>
        	<a href="http://instagram.com/creasi_ID" target="_blank"><i class="ico icon-instagram">&nbsp;</i></a>
        	<a href="https://www.youtube.com/channel/UC4oeowGuM-E3GTeuYFkAWZQ" target="_blank"><i class="ico icon-youtube">&nbsp;</i></a>
            <form class="searchform" id="searchform">
                <input type="text" placeholder="Search Here..." />
                <input type="submit" value="GO" />
            </form>
            <a class="toggleSearch"><i class="icon-search">&nbsp;</i></a>
        </div><!-- end .topInfo -->
    </div><!-- end .wrapper -->    
</div><!-- end #top --> 
<div id="header"> 
	<div class="wrapper">   
        <a id="logo" href="{$basedomain}dashboard"><img src="{$basedomain}assets/images/logo.png" /></a> 
        <div id="nav">
                <ul class="sf-menu" id="main-menu">
				
                  <li><a href="{$basedomain}home"><i class="ico icon-home">&nbsp;</i> <span>Home</span></a></li>
                  <li><a href="{$basedomain}jobboard"><i class="ico icon-suitcase">&nbsp;</i> <span>Job board</span></a></li>
                  <li><a href="{$basedomain}talentboard"><i class="ico icon-profile2">&nbsp;</i> <span>talent board</span></a></li>
				  {if $roleidnya == '2' || $roleidnya == '' }
                  <li><a href="{$basedomain}postjobs"><i class="ico icon-file-text">&nbsp;</i> <span>post job</span></a></li>
				  {/if}
				  {if $roleidnya == '' }
                  <li><a href="{$basedomain}registration"><i class="ico icon-addressbook">&nbsp;</i> <span>create cv</span></a></li>
				  {/if}
                  <li><a href="#"><i class="ico icon-language">&nbsp;</i> <span>directory</span></a>
                  		<div class="mobnav-subarrow"><i class="icon-arrow-circle-right">&nbsp;</i></div>
                        <ul>
                            <li><a href="#">Talent Seekers</a></li>
                            <li><a href="#">School Directory</a></li>
                        </ul>
                  </li>
				  {if $roleidnya == '' }
                  <li><a href="{$basedomain}join"><i class="ico icon-smile-o">&nbsp;</i> <span>join us</span></a></li>
				  {/if}
                </ul>  
				 {if $roleidnya == '' }
                <div class="headerboxbtn fr">
                    <a class="button1" href="{$basedomain}login">LOGIN</a>
                </div>
				{else}
				 <div class="headerboxbtn fr">
                    <!--<a class="button1" href="index.php?page=login">LOGIN</a>-->
                    <a href="#" id="toggleuser"><div class="smallthumb">
					{if $img_avatar != ''}
					<img src="{$basedomain}public_assets/personal/{$img_avatar}" />
					{/if}
					
					</div><i class="ico icon-chevron-down">&nbsp;</i></a>
                    
					
					<div id="usermenubox" class="bubble">
                        <ul>
                          <li><a href="{$basedomain}dashboard"><i class="ico icon-dashboard">&nbsp;</i> <span>Dashboard</span></a></li>
                          <li><a href="{$basedomain}personal"><i class="ico icon-user">&nbsp;</i> <span>Profile</span></a></li>
                          <li><a href="index.php?page=notification"><i class="ico icon-exclamation-circle">&nbsp;</i> <span>Notifications</span></a></li>
                          <li><a href="index.php?page=setting"><i class="ico icon-gear">&nbsp;</i> <span>Settings</span></a></li>
                          <li><a href="{$basedomain}help"><i class="ico icon-question-circle">&nbsp;</i> <span>Help</span></a></li>
                          <li><a href="{$basedomain}logout.php"><i class="ico icon-sign-in">&nbsp;</i> <span>Logout</span></a>
                        </ul> 
                    </div>
                </div>
				{/if}
        </div>
		
    </div><!-- end .wrapper -->    
</div><!-- end #header --> 
   <div class="page_section" id="home">
<!-- <div id="body">
        <div class="loginbox"> -->
            
            <!--logo-->
            <!--<div class="logo_login"></div>-->
          <!--  <form name="Form2" method="POST" action="{$basedomain}logincompany/local" id="Form2">
                <input name="username" placeholder="Username" type="text" id="username" maxlength="20"> 
                <input name="password" placeholder="Password" type="password" id="password" maxlength="20">
                <input id="button" type="submit" name="Submit" value="Login">
                <input type="hidden" name="login" value="1">
            </form>  -->
<!--         </div>
</div>   -->      
<div class="page_section" id="theformpage">
    <div id="theform" class="section"> 
        <div class="wrapper">
        	<div class="col">
            <form class="theforms" id="loginForm" name="Form2" method="POST" action="">
                <div class="rows">
                  <img src="{$basedomain}assets/images/logo.png" />
                  <h4>Website-nya orang kreatif mencari kerja</h4>
                </div><!-- end .rows -->    
                <div class="rows">
                    <h3 class="blocktitle">RESEND YOUR EMAIL</h3>
					<label style="color:red">{$msg}</label>
                </div><!-- end .rows -->
                <div class="greybox">    
                    <div class="rows">
                      <input name="email" placeholder="Enter your email address" type="text" id="email" maxlength="55"> 
                    
                    </div><!-- end .rows -->       
                    <div class="rows">
					<input type="hidden" name="submit" value="1">
                        <input type="submit" class="button1 fr" value="SUBMIT" />
						  
                    </div><!-- end .rows -->  
                </div>  <!-- end .greybox -->
            </form>
            </div><!-- end .col -->   
        </div><!-- end .wrapper -->    
    </div><!-- end #theform --> 
</div><!-- end #theformpage -->


 </div>
  </div>
</body>
</script>

<div id="footer">
    <div class="wrapper">
        <div class="col3">
            <div class="widget widget-contact">
                <h3 class="widget-title">Get In Touch</h3>
                <div class="widget-content">
                    <p><i class="ico icon-phone">&nbsp;</i> (+62) 21 7050 8952/53</p>
                    <p><i class="ico icon-envelope">&nbsp;</i> info@creasi.co.id</p>
                    <p><i class="ico icon-laptop">&nbsp;</i> www.creasi.co.id</p>
                    <p><i class="ico icon-map-marker">&nbsp;</i> Jakarta, Indonesia</p>
                    <div class="socialbox">
                        <a href="http://facebook.com/creasi.ID" target="_blank"><i class="ico icon-facebook">&nbsp;</i></a>
                        <a href="http://twitter.com/creasi_ID" target="_blank"><i class="ico icon-twitter">&nbsp;</i></a>
                        <a href="http://instagram.com/creasi_ID" target="_blank"><i class="ico icon-instagram">&nbsp;</i></a>
                        <a href="http://youtube.com/creasiID" target="_blank"><i class="ico icon-youtube">&nbsp;</i></a>
                    </div><!-- END .socialbox -->
                </div><!-- END .widget-content -->
            </div><!-- END .widget -->
        </div><!-- END .col3 -->
        <div class="col3">
            <div class="widget">
                <h3 class="widget-title">Latest News</h3>
                <div class="widget-content">
				 {section name=i loop=$lastnews}
                	<div class="roww">
                    	<h3><a href="{$basedomain}news/details/{$lastnews[i].id}">{$lastnews[i].title}</a></h3>
                        <span class="date">Posted {$lastnews[i].date}</span>
                        <span class="author">By Admin</span>
                    </div><!-- END .roww -->
                 {/section}
                </div><!-- END .widget-content -->
            </div><!-- END .widget -->
        </div><!-- END .col3 -->
        <div class="col3">
            <div class="widget">
                <h3 class="widget-title">Latest Press</h3>
                <div class="widget-content">
                	 {section name=i loop=$lastpress}
                	<div class="roww">
                    	<h3><a href="{$basedomain}news/press">{$lastpress[i].title}</a></h3>
                        <span class="date">Posted {$lastpress[i].date}</span>
                        <span class="author">By Admin</span>
                    </div><!-- END .roww -->
                 {/section}
                </div><!-- END .widget-content -->
            </div><!-- END .widget -->
        </div><!-- END .col3 -->
    </div><!-- END .wrapper -->
    <div id="footer-menu">
    
        <a href="{$basedomain}aboutus">about us</a>
		 <a href="{$basedomain}contactus">Contact</a>
        <a href="{$basedomain}news">News &amp; Press</a>
        <a href="{$basedomain}advr">advertise</a>
        <a href="{$basedomain}tnc">t&amp;cs</a>
        <a href="{$basedomain}trust">trust &amp; safety</a>
        <a href="{$basedomain}privacy">privacy policy</a>
        <a href="{$basedomain}faqhome">faq</a>
    </div>
    <div id="copy">
    	<p> Copyright &copy; 2015 PT. Kreatif Ideologi,  All rights reserved.</p>
    </div>
</div><!-- END #footer -->
</body>
</html>
            
            <!--logo-->
        