<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="">
<link rel="icon" href="{$basedomain}assets/images/favicon.png" type="image/x-icon">

<title>Touchbase</title>
<!-- Add CSS here -->
<link href="{$basedomain}assets/css/dashboard-game.css" rel="stylesheet">
<!-- Page Specific CSS -->
<link rel="stylesheet" href="{$basedomain}assets/css/morris-0.4.3.min.css">
<link href='http://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
<!-- JavaScript -->
<script src="{$basedomain}assets/js/jquery-1.10.2.js"></script>
<script src="{$basedomain}assets/js/jquery-ui.js"></script>
<script src="{$basedomain}assets/js/customform.js"></script>
<script src="{$basedomain}assets/js/bootstrap.js"></script>
<script src="{$basedomain}assets/js/dashboard-game.js"></script>

<!-- Page Specific Plugins -->
<script src="{$basedomain}assets/js/tablesorter/jquery.tablesorter.js"></script>
<script src="{$basedomain}assets/js/tablesorter/tables.js"></script>

<!-- Page Specific Plugins -->
<script src="{$basedomain}assets/js/raphael-min.js"></script>
<script src="{$basedomain}assets/js/morris-0.4.3.min.js"></script>
<script src="{$basedomain}assets/js/morris/chart-data-morris.js"></script>
<script src="{$basedomain}assets/js/highcharts.js"></script>
<script src="{$basedomain}assets/js/modules/exporting.js"></script>

<!-- Paging set -->
<script type="text/javascript" src="{$basedomain}assets/js/kipagination.js"></script>
<script type="text/javascript" src="{$basedomain}assets/js/helper/contentHelper.js"></script>
<script type="text/javascript" src="{$basedomain}assets/js/helper/userHelper.js"></script>
<script type="text/javascript" src="{$assets_domain}js/views/contentviews.js"></script> 

<!--[if (gte IE 6)&(lte IE 8)]>
	<script type="text/javascript" src="{$basedomain}assets/js/selectivizr-min.js"></script>
<![endif]-->

<!-- JS library -->
<script>
	var basedomain = "{$basedomain}" ;
	var basedomainpath = "{$basedomainpath}" ;
	var pages = "{$pages}" ;
	var locale = {$locale|@json_encode};
</script> 

<!--- END ---->

{literal}
<script type="text/javascript">
	$(document).ready(function() {
		$("#datepicker").datepicker({dateFormat:"yy-mm-dd"});	
	});
{/literal}

</script>
{literal}
<script type="text/javascript">
jQuery(document).ready(function($) {  
	if( $('#loginBeat').length > 0){
		$('#loginBeat').validate({
			invalidHandler: function(form, validator) {
				var errors = validator.numberOfInvalids();
				if (errors) {
					$( "#loginBeat" ).effect('shake', {times: 2, distance: 7}, 50);
				}
			}
		});
	}
  
});
</script>
{/literal}




{literal}
<script>
	
	
	$(document).on("click",".closecontentair",function(){
		$(".contentair-content").html("");
		$(".contentairmaster").fadeOut();
		$(".background-popup").fadeOut();
		
	});
	
	$(document).on("click",".opencontentair",function(){
	 
		$(".contentairmaster").fadeIn();
		$(".background-popup").fadeIn();
		
	});
	
	$(document).on("click",".arkPopupImages", function(){
		var popupsrc = $(this).attr('call');
		$(".contentair-content").html("<img src='"+popupsrc+"' />")
		$(".opencontentair").trigger("click");
	
	});	
	
	$(document).on("click",".arkPopupForm", function(){
		var popupsrc = $(this).attr('call');
		$(".contentair-content").html($("."+popupsrc).html());
		$(".opencontentair").trigger("click");
	
	});
	 
	 $(document).on("click",".arkPopupTnc", function(){
		var popupsrc = $(this).attr('call');
	 	$(".contentair-content").html($("."+popupsrc).html());
		$(".opencontentair").trigger("click");
	
	});
	 
</script>	 
{/literal}