<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="MyBMW">
    <link rel="shortcut icon" href="{$basedomain}assets/images/favicon.png">
    <title>ADMINISTRATOR</title>
    <!--Core CSS -->
    <link href="{$basedomain}assets/bs3/css/bootstrap.min.css" rel="stylesheet">
    <link href="{$basedomain}assets/js/jquery-ui/jquery-ui-1.10.1.custom.min.css" rel="stylesheet">
    <link href="{$basedomain}assets/css/bootstrap-reset.css" rel="stylesheet">
    <link href="{$basedomain}assets/font-awesome/css/font-awesome.css" rel="stylesheet">
    <link href="{$basedomain}assets/js/jvector-map/jquery-jvectormap-1.2.2.css" rel="stylesheet">
    <link href="{$basedomain}assets/css/clndr.css" rel="stylesheet">

    <link rel="stylesheet" href="{$basedomain}assets/css/bootstrap-switch.css" />
    <link rel="stylesheet" type="text/css" href="{$basedomain}assets/js/bootstrap-fileupload/bootstrap-fileupload.css" />
   
	
	
    <link rel="stylesheet" type="text/css" href="{$basedomain}assets/js/bootstrap-datepicker/css/datepicker.css" />
    <link rel="stylesheet" type="text/css" href="{$basedomain}assets/js/bootstrap-timepicker/css/timepicker.css" />
    <link rel="stylesheet" type="text/css" href="{$basedomain}assets/js/bootstrap-colorpicker/css/colorpicker.css" />
    <link rel="stylesheet" type="text/css" href="{$basedomain}assets/js/bootstrap-daterangepicker/daterangepicker-bs3.css" />
    <link rel="stylesheet" type="text/css" href="{$basedomain}assets/js/bootstrap-datetimepicker/css/datetimepicker.css" />
    <link rel="stylesheet" type="text/css" href="{$basedomain}assets/js/jquery-multi-select/css/multi-select.css" />
    <link rel="stylesheet" type="text/css" href="{$basedomain}assets/js/jquery-tags-input/jquery.tagsinput.css" />

    <link rel="stylesheet" type="text/css" href="{$basedomain}assets/js/select2/select2.css" />
   
    <!--dynamic table-->
    <link href="{$basedomain}assets/js/advanced-datatable/css/demo_page.css" rel="stylesheet" />
    <link href="{$basedomain}assets/js/advanced-datatable/css/demo_table.css" rel="stylesheet" />
    <link rel="stylesheet" href="{$basedomain}assets/js/data-tables/DT_bootstrap.css" />
    <!-- Custom styles for this template -->
    <link href="{$basedomain}assets/css/style.css" rel="stylesheet">
    <link href="{$basedomain}assets/css/style-responsive.css" rel="stylesheet"/>
    <!-- blueimp Gallery styles -->
    <link rel="stylesheet" href="http://blueimp.github.io/Gallery/css/blueimp-gallery.min.css">
    <!-- CSS to style the file input field as button and adjust the Bootstrap progress bars -->
    <link rel="stylesheet" href="{$basedomain}assets/js/file-uploader/css/jquery.fileupload.css">
    <link rel="stylesheet" href="{$basedomain}assets/js/file-uploader/css/jquery.fileupload-ui.css">
    <!-- CSS adjustments for browsers with JavaScript disabled -->
    
<noscript>
        <link rel="stylesheet" href="{$basedomain}assets/js/file-uploader/css/jquery.fileupload-noscript.css">
    </noscript>
    <noscript>
        <link rel="stylesheet" href="{$basedomain}assets/js/file-uploader/css/jquery.fileupload-ui-noscript.css">
    </noscript>
    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]>
    <script src="js/ie8-responsive-file-warning.js"></script><![endif]-->
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
    <!--Core js-->
    <script src="{$basedomain}assets/js/jquery.js"></script>
    <script src="{$basedomain}assets/js/jquery-ui-1.9.2.custom.min.js"></script>
    <script src="{$basedomain}assets/bs3/js/bootstrap.min.js"></script>

    <script src="{$basedomain}assets/js/jquery.dcjqaccordion.2.7.js"></script>
    <script src="{$basedomain}assets/js/jquery.scrollTo.min.js"></script>
    <script src="{$basedomain}assets/js/jQuery-slimScroll-1.3.0/jquery.slimscroll.js"></script>
    <script src="{$basedomain}assets/js/jquery.nicescroll.js"></script>
	<script src="{$basedomain}assets/js/contentHelper.js"></script>
	<script src="{$basedomain}assets/js/kipagination.js"></script>
		<script src="{$basedomain}assets/js/highchartHelper.js"></script>
	<script src="{$basedomain}assets/js/highcharts.js"></script>
	
	
	<script>
		var basedomain = "{$basedomain}" ;
		var basedomainpath = "{$basedomainpath}" ;
		var pages = "{$pages}" ;
		var locale = {$locale|@json_encode};
	</script> 
</head>
