
<aside>
    <div id="sidebar" class="nav-collapse">
        <!-- sidebar menu start-->
        <div class="leftside-navigation">
            <ul class="sidebar-menu" id="nav-accordion">
                <li>
                    <a class="active" href="{$basedomain}dashboard">
                        <i class="fa fa-dashboard"></i>
                        <span>Dashboard</span>
                    </a>
					{*} <ul class="sub">
                        <li><a href="{$basedomain}">Event Registration List</a></li>
                    </ul> {/*}
                </li>
			   {*} <li class="sub-menu">
                    <a href="javascript:;">
                        <i class="fa fa-user"></i>
                        <span>User Management</span>
                    </a>
                    <ul class="sub">
                      <li><a href="{$basedomain}usermanagement">User List</a></li>
                        <li><a href="{$basedomain}adduser">Add New User</a></li>

                    </ul>
                </li>{/*}
				<li class="sub-menu">
                    <a href="javascript:;">
                        <i class="fa fa-tasks"></i>
                        <span>Discover</span>
                    </a>
                    <ul class="sub">
					   <li><a href="{$basedomain}adddestination">Add New Discover</a></li>
                        <li><a href="{$basedomain}destination">Discover List</a></li>
                     

                    </ul>
                </li>
				<li class="sub-menu">
                    <a href="javascript:;">
                        <i class="fa fa-envelope"></i>
                        <span>Newsletter</span>
                    </a>
                    <ul class="sub">
                        <li><a href="{$basedomain}newslettermanagement">Subscribers List</a></li>
			{*}
                        <li><a href="{$basedomain}newslettermanagement/add">Add New Subscriber</a></li>
			{/*}

                    </ul>
                </li>
             
            </ul>            
         </div>
        <!-- sidebar menu end-->
    </div>
</aside>
<!--sidebar end-->
